@import '../libs/pure/pure-min.css';
@import '../libs/pure/grids-responsive-min.css';
@import '../css/pure-extend.css';
@import '../css/extra.css';
@import '../libs/Swiper/dist/css/swiper.min.css';
@import '../libs/font-awesome/css/font-awesome.min.css';
@import '../libs/TurnWheel/jReject/css/jquery.reject.css';
@import '../libs/fancybox/source/jquery.fancybox.css';

html {
    height: 100%;
}

body {
    min-height: 100%;
    height: 100%;
    color: #323232;
    font-weight: normal;
    font-family: Arial, Verdana, Helvetica, Sans-Serif;
    font-size: 12px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    outline: none;
    color: #1a5ba9;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

a:hover {
    text-decoration: none;
    color: #000;
}

img {
    border: 0
}

p {
    margin: 1.5em 0;
}

p:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

strong {
    font-weight: 700;
}

#page {
    height: auto !important;
    min-height: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#footer_guarantor {
    height: 48px;
    clear: both;
}

#footer {
    margin: 0 auto;
    margin-top: -48px;
    height: 48px;
    clear: both;
    position: relative;
    z-index: 3;
    background: #e7e7e7;
    display: flex;
    align-items: center;
}

div.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header {
    height: 100px;
    position: relative;
    z-index: 222;
    background: #e7e7e7;
}

#header > .container {
    position: relative;
    height: 100%;
}

div.header-content {
    position: relative;
    height: 100%;
}

a.logo {
    display: block;
    width: 114px;
    height: 40px;
    position: absolute;
    left: 15px;
    top: 16px;
    background: url(../images/logo.png) 0 0 no-repeat;
    z-index: 15;
}

#sidebar {
    width: 180px;
    float: left;
}

#mainbar {
    overflow: hidden;
    background: #b0b0f0;
}

div.section {
    padding: 30px 0;
}

div.level-1-swiper-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

div.level-1-swiper-container .swiper-pagination {
    left: 0;
    right: 0;
    bottom: 30px;
}

div.level-1-swiper{
    height: 100%;
}

div.level-1-swiper .swiper-slide .photo {
    width: 100%;
    height: auto;
    display: block;
}

div.level-1-swiper div.swiper-slide-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
}

div.level-1-swiper-container .swiper-button-prev,
div.level-1-swiper-container .swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    font-size: 28px;
}

div.level-2-swiper{
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
}

div.level-2-swiper > .swiper-wrapper > .swiper-slide{
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}

div.level-3-swiper{
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
}

div.products-swiper{
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
}

div.products-cards-swiper{
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
}

div.swiper-carusel-container {
    position: relative;
    padding: 0 84px;
}

div.swiper-carusel .swiper-slide {
    width: auto;
}

div.swiper-carusel .swiper-slide a {
    display: block;
    border: 1px solid #212121;
}

div.swiper-carusel .swiper-slide a img {
    display: block;
    width: 100%;
    height: auto;
}

div.swiper-carusel-container .swiper-button-prev,
div.swiper-carusel-container .swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}

div.control{
    position: fixed;
    right: 0;
    top: 0;
    padding: 15px;
    z-index:555;
    background: #fff;
    border: 1px solid #000;
}

div.control a{
    display: block;
}

.swiper-slide a{
    display: block;
}

.swiper-slide a img,
.swiper-slide img{
    max-width: 100%;
    height: auto;
}

/*LISTS*/

div.main-menu-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

div.content-menu-container {
}

ul.main-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #cfcfcf;
}

ul.main-menu > li {
    position: relative;
}

ul.main-menu > li > a {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    line-height: 1.1;
}

ul.main-menu > li > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 100%;
    background: #cfcfcf;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    opacity: 0;
    visibility: hidden;
}

ul.main-menu > li:hover > ul {
    opacity: 1;
    visibility: visible;
}

ul.main-menu > li > ul > li > a {
    display: block;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

ul.content-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.content-menu > li > a {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
}

/*INPUTS*/

/*HEADERS*/

h1 {
    line-height: 1.2;
    margin: 0 0 0.5em;
}

h2 {
    line-height: 1.2;
    margin: 0 0 0.5em;
}

h3 {
    line-height: 1.2;
    margin: 0 0 0.5em;
}

h4 {
    line-height: 1.2;
    margin: 0 0 0.5em;
}

/*BUTTONS*/

/*SPECIAL*/

/*MISC*/

div.page-module ul {
    margin: 20px;
}

div.page-module ul > li {
    margin: 5px 0 0;
}

div.page-module ul > li:first-child {
    margin: 0
}

div.page-module ol {
    margin: 20px;
}

div.page-module ol > li {
    margin: 5px 0 0
}

div.page-module ol > li:first-child {
    margin: 0
}

div.page-module table {
    background: #fff
}

div.page-module table td {
    padding: 13px 18px;
    border-top: 1px solid #e5e7e7
}

div.page-module table tr:first-child td {
    border-top: 0
}

div.page-module thead td {
    background: #e1e1e1;
}

/* XS */
@media (max-width: 767px) {
    a.smart_menu_caller {
        display: flex;
    }

    table.special {
        width: 100%;
        display: block;
        margin: 10px 0;
    }

    table.special thead {
        display: none;
    }

    table.special tbody {
        width: 100%;
        display: block;
    }

    table.special tbody tr {
        width: 100%;
        display: block;
    }

    table.special tbody td:before {
        display: block;
        background: #7F7F7F;
        padding: 10px;
        content: attr(data-label);
        margin: -10px;
        margin-bottom: 10px;
        color: #fff;
        font-weight: bold;
    }

    table.special tbody td {
        width: 100%;
        display: block;
        background: #e7e7e7;
        padding: 10px;
        margin-bottom: 10px;
    }

    .container {
        width: auto;
    }

    div.mob_nav_container div.mob-nav-top-line {
        background: #79b215;
        display: flex;
        justify-content: space-between;
        color: #fff;
    }

    div.mob-nav-top-line > div {
        flex: 1 1 100%;
        border-left: 1px solid rgba(193, 217, 184, 0.3);
    }

    div.mob-nav-top-line a {
        display: block;
        text-align: center;
        color: #fff;
        padding: 15px;
    }

    div.mob_header_extention {
        display: block;
        position: absolute;
        left: 160px;
        top: 0;
        right: 70px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    div.mob_header_extention > div {
        height: 70px;
    }

    div.mob-header-items {
        display: flex;
    }

    div.mob-header-items > div {
        border-right: 1px solid rgba(193, 217, 184, 0.3);
    }

    div.mob-search-container {
        display: block;
        height: 0;
        overflow: hidden;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
    }

    div.mob-search-container.opened {
        height: 40px;
    }

    /* style sample */
    div.langs-select select {
        border: 0;
        height: 70px;
        text-align: center;
        font-size: 16px;
        padding: 0 15px;
    }

    div.langs-select select option {

    }

    /* style sample */
    div.mob_search a {
        display: flex;
        height: 70px;
        width: 60px;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        text-decoration: none;
    }

    /*-----*/
    #header {
        height: 70px;
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
    }

    div.header-content {
        display: none;
    }

    ul.main-menu {
        display: block;
    }

    ul.main-menu > li > a {
        display: block;
        position: relative;
    }

    ul.main-menu > li > a .fa {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 30px;
        border-radius: 30px;
        background: #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
    }

    ul.main-menu > li.selected > a .fa {
        transform: rotate(180deg);
    }

    ul.main-menu > li.selected > ul {
        max-height: 600px;
    }

    ul.main-menu > li > ul {
        position: static;
        opacity: 1;
        visibility: visible;
        background: #fff;
        overflow: hidden;
        max-height: 0;
    }

    ul.main-menu > li > ul > li > a {
    }

    div.section {
        padding: 15px 0;
    }

    div.level-1-swiper {}

    div.level-1-swiper .swiper-slide .photo {}

    .mobile-menu-toggler {
        display: flex !important;
        padding: 15px;
        border: 1px solid #f1f1f1;
        position: relative;
        bottom: -1px;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-menu-toggler .fa {
        font-size: 18px;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1f1f1+0,000000+100 */
        background: rgb(241, 241, 241); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(241, 241, 241, 1) 0%, rgba(0, 0, 0, 1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(241, 241, 241, 1) 0%, rgba(0, 0, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(241, 241, 241, 1) 0%, rgba(0, 0, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#000000', GradientType=0); /* IE6-9 */
        color: #fff;

    }

    .mobile-menu-toggler.opened .fa {
        transform: rotate(180deg);
    }

    div.content-menu-container {
        margin: -15px -15px 15px;
    }

    .content-menu {
        max-height: 0;
        overflow: hidden;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
    }

    .content-menu.opened {
        max-height: 500px;
    }

    #footer_guarantor {
        display: none;
    }

    #footer {
        margin: 0;
        height: auto;
        padding: 15px 0;
    }

    div.footer-content {
        display: block;
        text-align: center;
    }

}

/* SM */
@media /*(min-width: 568px) and */
(max-width: 767px) {

}

/* */
@media (min-width: 768px) {

}

/* MD */
@media (min-width: 768px) and (max-width: 1023px) {

}

/* LG */
@media (min-width: 1024px) and (max-width: 1279px) {

}

/* XL */
@media (min-width: 1280px) {

}

/* PORTRAIT ORIENTATION*/
@media all and (orientation: portrait) {
}

/* LANDSCAPE ORIENTATION*/
@media all and (orientation: landscape) {
}
