/***********/
/*  ROUND  */
/***********/

*.round-1 {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

*.round-2 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

*.round-3 {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

*.round-4 {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

*.round-5 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

*.round-6 {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

*.round-7 {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

*.round-8 {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

*.round-9 {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

*.round-10 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

*.round-11 {
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}

*.round-12 {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

*.round-13 {
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}

*.round-14 {
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
}

*.round-15 {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

*.round-16 {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

*.round-17 {
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
}

*.round-18 {
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}

*.round-19 {
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
}

*.round-20 {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

*.round-21 {
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 21px;
}

*.round-22 {
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
}

*.round-23 {
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
}

*.round-24 {
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
}

*.round-25 {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

*.round-26 {
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
}

*.round-27 {
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
}

*.round-28 {
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
}

*.round-29 {
    -webkit-border-radius: 29px;
    -moz-border-radius: 29px;
    border-radius: 29px;
}

*.round-30 {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/***********/
/*  Menus  */
/***********/

.h-menu {
}

.h-menu > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.h-menu > ul:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.h-menu > ul > li {
    float: left;
    position: relative;
}

.h-menu > ul > li > a {
    text-decoration: none;
}

.h-menu > ul > li > ul {
    position: absolute;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 500;
    transition: all ease 0.3s;
}

.h-menu > ul > li:hover > ul {
    visibility: visible;
    opacity: 1;
}

.h-menu > ul > li > ul > li {
    float: none;
}

.h-menu > ul > li > ul > li > a {
    white-space: nowrap;
}

.v-menu {
}

.v-menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.v-menu > ul:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.v-menu > ul > li {
    float: none;
}

.v-menu > ul > li > a {
    text-decoration: none;
}

.t-menu {

}

.t-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
}

.t-menu ul:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.t-menu ul > li {
    display: table-cell;
    float: none;
}

.t-menu ul > li > a {
    text-decoration: none;
}

/***********/
/*  Button */
/***********/

.button:focus,
.button:hover {
    text-decoration: none;
    background: #0f57b5;
    color: #ffffff;
    text-decoration: none;
}

.button {
    position: relative;
    background: #0c4da2;
    display: inline-block;
    line-height: 19px;
    color: #ffffff;
    font-size: 12px;
    padding: 5px 10px;
}

.button.ico-right {
    padding-right: 41px;
}

.button.ico-right:after {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20px;
    margin-right: 17px;
    content: " ";
    display: block;
    background: url('../images/icons/button-right.png') no-repeat center right;
    height: 100%;
}

.button.ico-left {
    padding-left: 41px;
}

.button.ico-left:after {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20px;
    margin-left: 17px;
    content: " ";
    display: block;
    background: url('../images/icons/button-left.png') no-repeat center left;
    height: 100%;
}

.ext_button {
    display: inline-block;
    display: inline-flex;
    align-items: center;
    height: 2.8857em;
    line-height: 2.8857em;
    padding: 0 1.1em;
    position: relative;
    text-decoration: none !important;
}

.ext_button.bordered {
    border: 1px solid #cecece;
}

.ext_button.rounded {
    border-radius: 0.8em;
}

.ext_button.shadowed {
    -webkit-box-shadow: 0.14em 0.14em 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0.14em 0.14em 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0.14em 0.14em 0px 0px rgba(0, 0, 0, 0.75);
}

.ext_button.full-w {
    display: block;
    text-align: center;
}

.ext_button .fa {
    margin: 0 0 0 1.4em;
}

.ext_button .fa:first-child {
    margin: 0 1.4em 0 0;
}

.ext_button.blue-style {
    background: #0073bb;
    color: #fff;
}

.ext_button.blue-style:hover {
    background: #035081
}

.iconed-link {
    display: inline-block;
}

.iconed-link .fa {
    margin: 0 0 0 0.6em;
}

.iconed-link .fa:first-child {
    margin: 0 0.6em 0 0;
}

/***********/
/*  Extra  */
/***********/

.tar {
    text-align: right;
}

.tac {
    text-align: center;
}

.tal {
    text-align: left;
}

.hide {
    display: none;
}

/*****************/
/*  REN SPECIAL  */
/*****************/

.d_block {
    display: block;
}

.uppercase {
    text-transform: uppercase;
}

.d_inl_block {
    display: inline-block;
}

br.cleaner {
    display: block;
    clear: both;
}

br.small_br {
    font-size: 6px;
    line-height: 1;
}

.pointer {
    cursor: pointer;
}

.cleaner {
    display: block;
    clear: both;
}

.nopadd {
    padding: 0 !important;
}

.noborg {
    border: 0 !important;
}

.nobg {
    background: none !important;
}

.nomarg {
    margin: 0 !important;
}

.nowrap {
    white-space: nowrap;
}

.dinamic {
    overflow: auto;
    width: 100%;
}

.center {
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.no_float {
    float: none !important;
}

.cursor_def {
    cursor: default !important;
}

.v_align {
    vertical-align: middle;
}

.clear:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

input.hidden_submit {
    font-size: 0;
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    left: -10000px;
    top: -10000px;
}

input,
textarea,
select {
    -webkit-appearance: none;
}

/*FONTS*/

.trbucet {
    font-family: "Trebuchet MS";
}

.bold {
    font-weight: 700;
}

.f_normal {
    font-weight: normal;
}

.f_9 {
    font-size: 9px;
}

.f_10 {
    font-size: 10px;
}

.f_11 {
    font-size: 11px;
}

.f_12 {
    font-size: 12px;
}

.f_13 {
    font-size: 13px;
}

.f_14 {
    font-size: 14px;
}

.f_15 {
    font-size: 15px;
}

.f_16 {
    font-size: 16px !important;
}

.f_17 {
    font-size: 17px;
}

.f_18 {
    font-size: 18px;
}

.f_19 {
    font-size: 19px;
}

.f_20 {
    font-size: 20px;
}

.f_21 {
    font-size: 21px;
}

.f_22 {
    font-size: 22px;
}

.f_23 {
    font-size: 23px;
}

.f_24 {
    font-size: 24px;
}

.f_25 {
    font-size: 25px;
}

.f_26 {
    font-size: 26px;
}

.f_27 {
    font-size: 27px;
}

.f_28 {
    font-size: 28px;
}

.f_29 {
    font-size: 29px;
}

.f_30 {
    font-size: 30px;
}

.f_6 {
    font-size: 6px !important;
}

/* XS = max-width: 567px */
/* XS + SM = max-width: 767px */
@media (max-width: 767px) {
    body.mob_menu_opened #page,
    body.mob_menu_opened #footer {
        -webkit-transform: translate(-80%);
        transform: translate(-80%);
    }

    div.mob_nav_container {
        position: fixed;
        left: 20%;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        z-index: 1;
        background: rgba(19, 124, 77, 0.55);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
    }

    a.smart_menu_caller {
        position: absolute;
        right: 0;
        top: 0;
        width: 70px;
        height: 100%;
        z-index: 569;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        text-decoration: none;
        color: #008449;
        display: flex;
    }

    a.smart_menu_caller .fa-times {
        display: none;
    }

    body.mob_menu_opened a.smart_menu_caller .fa {
        display: none;
    }

    body.mob_menu_opened a.smart_menu_caller .fa-times {
        display: flex;
    }

    .container {
        padding: 0 15px;
    }

    #page {
        z-index: 2;
        -webkit-transition: transform ease 0.3s;
        -webkit-transition: -webkit-transform ease 0.3s;
        -moz-transition: transform ease 0.3s;
        -ms-transition: transform ease 0.3s;
        -o-transition: transform ease 0.3s;
        transition: transform ease 0.3s;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
        background: #fff;
    }

    #footer {
        -webkit-transition: transform ease 0.3s;
        -webkit-transition: -webkit-transform ease 0.3s;
        -moz-transition: transform ease 0.3s;
        -ms-transition: transform ease 0.3s;
        -o-transition: transform ease 0.3s;
        transition: transform ease 0.3s;
    }

    body.mob_menu_opened {
        overflow: hidden;
    }

    body.mob_menu_opened div.mob_nav_container {
        overflow-y: auto;
        opacity: 1;
        visibility: visible;
    }

    .xs-tar {
        text-align: right;
    }

    .xs-tac {
        text-align: center;
    }

    .xs-tal {
        text-align: left;
    }

    .xs-hide {
        display: none;
    }
}

/* SM */
@media (min-width: 568px) and (max-width: 767px) {

}

/* MD and more */
@media (min-width: 768px) {

    a.smart_menu_caller {
        display: none;
    }

    div.mob_nav_container {
        display: none;
    }

    #page, #footer {
        transform: none !important;
    }

}

/* MD */
@media (min-width: 768px) and (max-width: 1023px) {
    .md-tar {
        text-align: right;
    }

    .md-tac {
        text-align: center;
    }

    .md-tal {
        text-align: left;
    }

    .md-hide {
        display: none;
    }
}

/* LG */
@media (min-width: 1024px) and (max-width: 1279px) {
    .lg-tar {
        text-align: right;
    }

    .lg-tac {
        text-align: center;
    }

    .lg-tal {
        text-align: left;
    }

    .lg-hide {
        display: none;
    }
}

/* XLG */
@media (min-width: 1280px) {
    .xlg-tar {
        text-align: right;
    }

    .xlg-tac {
        text-align: center;
    }

    .xlg-tal {
        text-align: left;
    }

    .xlg-hide {
        display: none;
    }
}

/* PORTRAIT ORIENTATION*/
@media all and (orientation: portrait) {
}

/* LANDSCAPE ORIENTATION*/
@media all and (orientation: landscape) {
}
